
<div class="container">
    <h1 class="container-title">お気に入りクラブの登録</h1>
    <div class="description">
        <p>お気に入りのクラブを登録してください。</p>
        <p>※複数選択可能</p>
    </div>
    <div class="team-list">
        <div class="col-md-4"><%= image_tag 'kashima-antlers.png' , :size => '120x120'%></div>
        <div class="col-md-4"><%= image_tag 'kashima-antlers.png' , :size => '120x120'%></div>
        <div class="col-md-4"><%= image_tag 'kashima-antlers.png' , :size => '120x120'%></div>
        <div class="col-md-4"><%= image_tag 'kashima-antlers.png' , :size => '120x120'%></div>
        <div class="col-md-4"><%= image_tag 'kashima-antlers.png' , :size => '120x120'%></div>
        <div class="col-md-4"><%= image_tag 'kashima-antlers.png' , :size => '120x120'%></div>
        <div class="col-md-4"><%= image_tag 'kashima-antlers.png' , :size => '120x120'%></div>
        <div class="col-md-4"><%= image_tag 'kashima-antlers.png' , :size => '120x120'%></div>
        <div class="col-md-4"><%= image_tag 'kashima-antlers.png' , :size => '120x120'%></div>
    </div>
    <div class="form">
    <%= button_to "登録する>>",{controller: "logs", action: "top" }, {method: :get, class: "btn-primary"}%>
    </div>
</div>