
<div class="container">
    <div class="user-new">
        <h2 class="user-new-title">新規ユーザー登録</h2>
        <%= form_for(@user, url: select_new_path, method: :post) do |f| %>
            <div class="user-new-form">
                <%= f.label :login_id, "ログインID：" %>
                <%= f.text_field :login_id, :class => 'form-control'%>
                <%= f.label :name, "名前：" %>
                <%= f.text_field :name, :class => 'form-control'%>
                <%= f.label :mail_adress, "メールアドレス：" %>
                <%= f.email_field :mail_adress , :class => 'form-control'%>
                <%= f.label :sex, "性別：" %>
                <div class="form-sex">
                    <%= f.radio_button :sex ,"男", :class => 'form-control'%>男性
                    <%= f.radio_button :sex ,"女", :class => 'form-control woman'%>女性
                </div>
                <%= f.label :birth_date, "生年月日：" %>
                <%= f.date_field :birth_date , :class => 'form-control'%>
                <%= f.label :password, "パスワード：" %>
                <%= f.password_field :password , :class => 'form-control'%>
            </div>
    
            <div class="favorite-teams">
                <h2 class="favorite-teams-title">お気に入りクラブの登録</h2>
                <div class="favorite-teams-description">
                    <p>お気に入りのクラブを登録してください。</p>
                </div>
                <div class="team-list">
                    <% @teams.each do |team| %>
                        <div class="col-md-3">
                            <div class="each-team btn">
                                <div class="each-team-logo">
                                <%= image_tag team.team_logo_url, class: 'each-team-logo-img' %>
                                </div>
                                <%= f.radio_button :favorite1, team.team_id%>
                                <%= f.label :favorite1 ,team.team_name %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div></br>
            <div class="col-md-12">
                <%= f.submit "登録する>>", :class => "submit-btn" %>
            <div>
        <% end %>
</div>

    
    

