<div class="container">
    <section class="match-list-wrap">
        <% @gameDetail.each do |detail| %>
        <div class="game-date align-l">
            <h4 class="border-l-red">
                <%# 曜日算出 %>
                <% index = detail["game_date"].strftime("%u").to_i %>
                <%= detail["game_date"].strftime("%Y年%m月%d日 (#{@weeks[index-1]})") %>
            </h4>
        </div>
        <table class="match-table align-l">
            <tbody>
                <tr>
                    <td class="match">
                        <table class="game-table" id="game-table<%= detail["id"] %>">
                            <thead>
                                <tr>
                                    <th>対戦カード</th>
                                    <th>スタジアム</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="club-name home-side">
                                        <%= image_tag detail["team_logo_url_home"], class: 'favo-logo' %>
                                        <span class="">
                                            <%= detail["team_name_home"] %>
                                        </span>
                                    </td>
                                    <td class="point home-side">
                                        <%= detail["score_home"] %>
                                    </td>
                                    <td class="vs">VS</td>
                                    <td class="point away-side">
                                        <%= detail["score_away"] %>
                                    </td>
                                    <td class="club-name away-side">
                                        <%= image_tag detail["team_logo_url_away"], class: 'favo-logo' %>
                                        <span class="">
                                            <%= detail["team_name_away"] %>
                                        </span>
                                    </td>
                                    <td class="stadium">
                                        <%= detail["stadium_name"] %>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <% end %>
    </section>


</div>